<div class="main-container row">
  <div class="col-md-8">
      <form [formGroup]="_DataJson.formSeis">

          <p>Proyectos Externos</p>

          <div class="row" formArrayName="compExternos" *ngFor="let ejemplo of _DataJson.formSeis.controls['compExternos'].controls; let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label for="nombreAutor">Nombre componente</label>
                          <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombre">
                      </div>

                      <div class="form-group col-md-6">
                          <label for="salida">Referencia</label>
                          <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="referencia">
                      </div>

                      <div class="form-group" class="col-md-12">
                          <label for="aportacion">¿Cómo se utilizo?</label>
                          <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="salida">URL</label>
                        <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="url">
                      </div>

                      <div class="form-group col-md-12" *ngIf="i!==0">
                          <label>&nbsp;</label>
                          <input (click)="eliminarcompExternos(i)" type="button" class="form-control btn btn-danger" value="-">
                      </div>
                  </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label for="">&nbsp;</label>
                      <button type="button" (click)="agregarcompExternos()" class="btn btn-success form-control">Agregar</button>
                  </div>

              </div>
          </div>




          <div class="row">
              <div class="col-md-8">
                  <div *ngIf="!_DataJson.formSeis.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formSeis.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
              <!-- <div class="col-md-4">
                  <a (click)="generateDownloadJsonUri()" class="btn" [ngClass]="{'btn-outline-danger': !_DataJson.formSeis.valid, 'btn-outline-success': _DataJson.formSeis.valid, 'disabled': !_DataJson.formSeis.valid}" title="Download JSON" [href]="downloadJsonHref" download="download.json">Generar JSON</a>
                  [disabled]="!_DataJson.formSeis.valid" 
              </div> -->
          </div>


      </form>
  </div>

  <div class="col-md-4 ">
      <pre class="sticky-top ">

          {{_DataJson.formSeis.value|json}}
                    
      </pre>
  </div>

<!-- nivel 6
componentes Externoss
y componentes hijos 

nombre del componente
funcion que empeña
referencia
url 
version

-->