<div class="main-container row">

        <div class="col-md-12">

                <h3 class="genwik-font">Nivel de madurez 7 <small class="text-success"><i data-toggle="modal" data-target="#NivelSiete" class="fas fa-info-circle"></i></small></h3>
                
                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" id="NivelSiete" tabindex="-1" role="dialog" aria-labelledby="NivelSieteLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title genwik-font" id="NivelSieteLabel">Nivel de madurez 7</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                             <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Nivel</th>
                                    <th scope="col">Idea</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Exposición</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    ¿Ha recibido <b>retroalimentación por un desarrollador</b>? 
                                </td>
                                <td>
                                    ¿El <b>código ha recibido una mejora</b>, modificación o corrección por un desarrollador != al autor?
                                </td>
                                <td>
                                    ¿<b>El componente funciona correctamente con las mejoras</b>? 
                                </td>
                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>
        
            </div>

    <div class="col-md-8">
        <form [formGroup]="_DataJson.formSiete">
  
            <p>Proyectos Externos</p>
  
            <div class="row" formArrayName="historico" *ngFor="let ejemplo of getControlsFromHistorico(); let i = index">
  
                <div [formGroupName]="i" class="col-md-12">
                    <hr>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="nombreAutor">Tipo
                                    <i class="far fa-question-circle" 
                                    data-toggle="popover" 
                                    title="¿Qué accion se va registrar?">
                                    </i>                                
                            </label>
                            <select class="custom-select" formControlName="tipo">
                              <option selected disabled>Seleccione una opción</option>
                              <option value="cambio">Cambios</option>
                              <option value="mejora">Mejora</option>
                              <option value="correccion">Correción</option>
                            </select>
                        </div>
  
                        <div class="form-group col-md-6">
                            <label for="nombreAutor">Titulo</label>
                            <i class="far fa-question-circle" 
                            data-toggle="popover" 
                            title="Titulo de la accion a registrar">
                            </i>
                            <input type="text" class="form-control" name="nombreAutor" placeholder="Titulo" formControlName="titulo">
                        </div>

  
                        <div class="form-group" class="col-md-12">
                            <label for="aportacion">¿Qué accion se va realizó?</label>
                            <i class="far fa-question-circle" 
                            data-toggle="popover" 
                            title="Descripción de la accion que se realizó">
                            </i>
                            <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                        </div>
  

                        <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                                <label for="salida">Fecha en que se realizo</label>
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Registro de la fecha">
                                </i>
                                <input type="text" class="form-control" name="correo" placeholder="DD/MM/AAAA" formControlName="fecha">
                            </div>
    
                            <div class="form-group col-md-1" *ngIf="i!==0">
                                    <label>&nbsp;</label>
                                    <div class="float-right">
                                            <input (click)="eliminarHistorico(i)" type="button" class="form-control btn btn-danger" value="-">
                                    </div>
                            </div>
                    </div>
  
                </div>
  
            </div>
  
            <div class=" col-md-12">
  
                <div class="row">
  
                    <div class="form-group col-md-12 float-right ">
                        <label for="">&nbsp;</label>
                        <div class="float-right">
                                <button type="button" (click)="agregarHistorico()" class="btn btn-success form-control">+</button>
                        </div>
                        
                    </div>
  
                </div>
            </div>
  
  
  
  
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="!_DataJson.formSiete.valid" class="alert alert-danger" role="alert">
                        El formulario es incorrecto
                    </div>
                    <div *ngIf="_DataJson.formSiete.valid" class="alert alert-success" role="alert">
                        El formulario es valido
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <a (click)="generateDownloadJsonUri()" class="btn" [ngClass]="{'btn-outline-danger': !_DataJson.formSiete.valid, 'btn-outline-success': _DataJson.formSiete.valid, 'disabled': !_DataJson.formSiete.valid}" title="Download JSON" [href]="downloadJsonHref" download="download.json">Generar JSON</a>
                    [disabled]="!_DataJson.formSiete.valid" 
                </div> -->
            </div>
  
  
        </form>
    </div>
  
    <div class="col-md-4 bg-light">
        <pre class="sticky-top ">
  
            {{_DataJson.formSiete.value|json}}
                      
        </pre>
    </div>
  
  <!-- nivel 6
  componentes Externoss
  y componentes hijos 
  
  nombre del componente
  funcion que empeña
  referencia
  url 
  version
  
  -->