<div class="main-container row">
  <div class="col-md-8">
      <form [formGroup]="_DataJson.formCinco">

          <p>Proyectos propios</p>

          <div class="row" formArrayName="compPropio" *ngFor="let ejemplo of _DataJson.formCinco.controls['compPropio'].controls; let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label for="nombreAutor">Nombre componente
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Nombre componente">
                                </i>                              
                          </label>
                          <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre componente" formControlName="nombre">
                      </div>

                      <div class="form-group col-md-6">
                          <label for="salida">Referencia</label>
                          <i class="far fa-question-circle" 
                          data-toggle="popover" 
                          title="Referencia del componente">
                          </i>    
                          <input type="text" class="form-control" name="correo" placeholder="Referencia" formControlName="referencia">
                      </div>

                      <div class="form-group" class="col-md-12">
                          <label for="aportacion">¿Cómo se utilizo?
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Función que empeña el componente">
                                </i>
                          </label>
                          <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="salida">URL
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresa la URL del componente padre">
                                </i>
                        </label>
                        <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="url">
                      </div>

                      <div class="form-group col-md-12" *ngIf="i!==0">
                          <label>&nbsp;</label>
                          <input (click)="eliminarcompPadre(i)" type="button" class="form-control btn btn-danger" value="-">
                      </div>
                  </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label for="">&nbsp;</label>
                      <button type="button" (click)="agregarcompPadre()" class="btn btn-success form-control">Agregar</button>
                  </div>

              </div>
          </div>




          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formCinco.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formCinco.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-lightcringecringe">
      <pre class="sticky-top ">

          {{_DataJson.formCinco.value|json}}
                    
      </pre>
  </div>

<!-- nivel 5
componentes padres
y componentes hijos 

nombre del componente
funcion que empeña
referencia
url 
version

-->