<div class="main-container container">

    <h1 class="text-center genwik-font">GenWik</h1>
    <div class="row m30">
      <div class="col-3"></div>
      <div class="col-6">
          <form [formGroup]="formGroup" >
            <p class="text-center">Carga el archivo carnet generado por GenWik, el único formato permitido es .json y se validará que cuente con la estructura adecuada.</p>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile"  (change)="onFileChange($event)">
              <label class="custom-file-label" for="customFile">{{archivo.name}}</label>
            </div>
            <br>
            <br>
            <div *ngIf="error" class="alert alert-danger" role="alert">
              El formato del archivo no es soportado
            </div>
            <div *ngIf="dataVal">
              <button type="submit" class="btn btn-block btn-primary">Cargar archivo</button>
            </div>
          </form>
      </div>
      <div class="col-3"></div>
      <div class="col-md-12 bg-light" *ngIf="dataVal">
        <br>
        <h3 class="text-center">Vista previa</h3>
        <hr>
        <pre>
          {{ data | json }}
        </pre>
      </div>
      <div class="col-md-12">
          <h3 class="genwik-font text-center"  (click)="_DataJson.initApp()"><i class="fas fa-home"></i></h3>
      </div>

    </div>

</div>