<div class="main-container row">
  <div class="col-md-8">
      <form [formGroup]="_DataJson.formCuatro">

          <p>Componentes padre</p>

          <div class="row" formArrayName="compPadre" *ngFor="let ejemplo of _DataJson.formCuatro.controls['compPadre'].controls; let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label for="nombreAutor">Nombre componente</label>
                          <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombre">
                      </div>

                      <div class="form-group col-md-6">
                          <label for="salida">Referencia</label>
                          <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="referencia">
                      </div>

                      <div class="form-group" class="col-md-12">
                          <label for="aportacion">Descripción de la corrida</label>
                          <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="salida">URL</label>
                        <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="url">
                      </div>

                      <div class="form-group col-md-12" *ngIf="i!==0">
                          <label>&nbsp;</label>
                          <input (click)="eliminarcompPadre(i)" type="button" class="form-control btn btn-danger" value="-">
                      </div>
                  </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label for="">&nbsp;</label>
                      <button type="button" (click)="agregarcompPadre()" class="btn btn-success form-control">Agregar</button>
                  </div>

              </div>
          </div>

          <p>Componentes hijo</p>

          <div class="row" formArrayName="compHijo" *ngFor="let ejemplo of _DataJson.formCuatro.controls['compHijo'].controls; let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                    <div class="form-group col-md-6">
                        <label for="nombreAutor">Nombre componente</label>
                        <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombre">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="salida">Referencia</label>
                        <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="referencia">
                    </div>

                    <div class="form-group" class="col-md-12">
                        <label for="aportacion">Descripción de la corrida</label>
                        <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="salida">URL</label>
                      <input type="text" class="form-control" name="correo" placeholder="Nombre Componente" formControlName="url">
                    </div>

                    <div class="form-group col-md-12" *ngIf="i!==0">
                        <label>&nbsp;</label>
                        <input (click)="eliminarcompPadre(i)" type="button" class="form-control btn btn-danger" value="-">
                    </div>
                </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label for="">&nbsp;</label>
                      <button type="button" (click)="agregarcompHijo()" class="btn btn-success form-control">Agregar</button>
                  </div>

              </div>
          </div>


          <div class="row">
              <div class="col-md-8">
                  <div *ngIf="!_DataJson.formCuatro.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formCuatro.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
              <!-- <div class="col-md-4">
                  <a (click)="generateDownloadJsonUri()" class="btn" [ngClass]="{'btn-outline-danger': !_DataJson.formCuatro.valid, 'btn-outline-success': _DataJson.formCuatro.valid, 'disabled': !_DataJson.formCuatro.valid}" title="Download JSON" [href]="downloadJsonHref" download="download.json">Generar JSON</a>
                  [disabled]="!_DataJson.formCuatro.valid" 
              </div> -->
          </div>


      </form>
  </div>

  <div class="col-md-4 ">
      <pre class="sticky-top ">

          {{_DataJson.formCuatro.value|json}}
                    
      </pre>
  </div>

<!-- nivel 4
componentes padres
y componentes hijos 

nombre del componente
funcion que empeña
referencia
url 
version

-->