<div class="main-container row">

    <div class="col-md-12">

        <h3 class="genwik-font">Nivel de madurez 4 <small class="text-success"><i data-toggle="modal" data-target="#NivelCuatro" class="fas fa-info-circle"></i></small></h3>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="NivelCuatro" tabindex="-1" role="dialog" aria-labelledby="NivelCuatroLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title genwik-font" id="NivelCuatroLabel">Nivel de madurez 4</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nivel</th>
                            <th scope="col">Idea</th>
                            <th scope="col">Código</th>
                            <th scope="col">Exposición</th>
                          </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>
                                  4
                                </td>
                                <td>
                                  ¿Se generó una <b>nueva solución (es solución padre de otras)</b> del componente? (* opcional)
                                </td>
                                <td>
                                  ¿<b>Se ha reutilizado código en otro componente</b>?
                                </td>
                                <td>
                                  ¿<b>El componente nuevo no presenta fallas en el código</b>? 
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

    </div>

  <div class="col-md-8">
      <form [formGroup]="_DataJson.formCuatro">

          <p>Componentes padre</p>

          <div class="row" formArrayName="compPadre" *ngFor="let ejemplo of getControlsFromPadre(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-12">
                          <label for="nombreAutor">Nombre componente
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Nombre componente">
                                </i>
                          </label>
                          <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre componente" formControlName="nombre">
                      </div>

                      <div class="form-group col-md-12">
                          <label for="salida">Referencia
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Referencia del componente">
                                </i>
                          </label>
                          <textarea rows="5" class="form-control" formControlName="referencia"></textarea>
                      </div>

                      <div class="form-group" class="col-md-12">
                          <label for="aportacion">Función del componente
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Función que empeña el componente padre en tú componente">
                                </i>
                          </label>
                          <textarea class="form-control" rows="5" formControlName="funcion"></textarea>
                      </div>

                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label for="salida">URL
                                    <i class="far fa-question-circle" 
                                    data-toggle="popover" 
                                    title="Ingresa la URL del componente padre">
                                    </i>
                            </label>
                            <input type="text" class="form-control" name="correo" placeholder="URL" formControlName="url">
                        </div>

                        <div class="form-group col-md-1" *ngIf="i!==0">
                                <label>&nbsp;</label>
                                <div class="float-right">
                                    <input (click)="eliminarcompPadre(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
                        </div>
                  </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                        <label for="">&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarcompPadre()" class="btn btn-success form-control">+</button>
                        </div>
                  </div>

              </div>
          </div>

          <p>Componentes hijo</p>

          <div class="row" formArrayName="compHijo" *ngFor="let ejemplo of getControlsFromHijo(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                    <div class="form-group col-md-12">
                        <label for="nombreAutor">Nombre componente
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Nombre componente">
                                </i>
                        </label>
                        <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombre">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="salida">Referencia
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Referencia del componente">
                                </i>
                        </label>
                        <textarea rows="5" class="form-control" formControlName="referencia"></textarea>
                    </div>

                    <div class="form-group" class="col-md-12">
                        <label for="aportacion">Función del componente
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Función que empeña el componente padre en tú componente">
                                </i>
                        </label>
                        <textarea class="form-control" id="ejemplos" rows="5" formControlName="funcion"></textarea>
                    </div>

                    <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label for="salida">URL
                                    <i class="far fa-question-circle" 
                                    data-toggle="popover" 
                                    title="Ingresa la URL del componente hijo">
                                    </i>
                            </label>
                            <input type="text" class="form-control" name="correo" placeholder="URL" formControlName="url">
                        </div>

                        <div class="form-group col-md-1" *ngIf="i!==0">
                                <label>&nbsp;</label>
                                <div class="float-right">
                                    <input (click)="eliminarcompHijo(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
                        </div>

                </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                        <label for="">&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarcompHijo()" class="btn btn-success form-control">+</button>
                        </div>
                      
                  </div>

              </div>
          </div>


          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formCuatro.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formCuatro.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-light">
      <pre class="sticky-top ">

          {{_DataJson.formCuatro.value|json}}
                    
      </pre>
  </div>

<!-- nivel 4
componentes padres
y componentes hijos 

nombre del componente
funcion que empeña
referencia
url 
version

-->