<div class="main-container row">
    <div class="col-md-8">
        <form [formGroup]="_DataJson.formCero">

            <div class="row">
                <div class="form-group col-md-6">
                    <label >Clave Componente</label>
                    <input type="text" class="form-control" placeholder="Clave Componente" formControlName="claveComponente">
                </div>

                <div class="form-group col-md-6">
                    <label >Nombre Componente</label>
                    <input type="text" class="form-control" placeholder="Nombre Componente" formControlName="nombreComponente">
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">

                    <p>Tipo de componente</p>

                    <div class="form-group">
                        <select class="custom-select" formControlName="tipo">
                                  <option selected disabled>Seleccione una opción</option>
                                  <option value="Interfaz grafica">Interfaz grafica</option>
                                  <option value="Orientado al servicio">Orientado al servicio</option>
                              </select>
                    </div>

                </div>

                <div class="col-md-6">
                    <p>Clasificación de ACM (Versión 2012)</p>

                    <div class="form-group">
                        <select class="custom-select" formControlName="clasACM">
                                  <option selected disabled>Seleccione una opción</option>
                                  <option value="General and reference">General and reference</option>
                                  <option value="Hardware">Hardware</option>
                                  <option value="Computer systems organization">Computer systems organization</option>
                                  <option value="Networks">Networks</option>
                                  <option value="Software and its engineering">Software and its engineering</option>
                                  <option value="Theory of computation">Theory of computation</option>
                                  <option value="Mathematics of computing">Mathematics of computing</option>
                                  <option value="Information systems">Information systems</option>
                                  <option value="Security and privacity">Security and privacity</option>
                                  <option value="Human-centered computing">Human-centered computing</option>
                                  <option value="Computing methodologies">Computing methodologies</option>
                                  <option value="Applied computing">Applied computing</option>
                                  <option value="Social and professional topics">Social and professional topics</option>
                              </select>
                    </div>
                </div>

            </div>

            <p>Datos del autor</p>

            <div class="row" formArrayName="autores" 
                 *ngFor="let autor of _DataJson.formCero.controls['autores'].controls; let i = index">

                <div [formGroupName]="i" class="col-md-12">
                    <hr>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombreAutor">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Correo</label>
                            <input type="text" class="form-control" placeholder="Nombre Componente" formControlName="correoAutor">
                        </div>

                        <div class="form-group" [ngClass]="{'col-md-4': i===0, 'col-md-3': i!==0}">
                            <label>Alias en GitLab</label>
                            <input type="text" class="form-control" placeholder="Alias en gitlab" formControlName="aliasGitlab">
                        </div>
                        <div class="form-group col-md-1" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <input (click)="eliminarAutor(i)" type="button" class="form-control btn btn-danger" value="-">
                        </div>
                    </div>

                </div>

            </div>

            <div class=" col-md-12">

                <div class="row">

                    <div class="form-group col-md-2 offset-md-10">
                        <label>&nbsp;</label>
                        <button type="button" (click)="agregarAutor()" class="btn btn-success form-control">+</button>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label>Descripcion del problema</label>
                <textarea class="form-control" rows="4" formControlName="descProblema"></textarea>
            </div>

            <p>Requerimientos del sistema</p>

            <div class="row">

                <div class="col-md-6">

                        <p>Req. Funcionales</p>

                        <div class="row" formArrayName="reqFuncionales" *ngFor="let r of _DataJson.formCero.controls['reqFuncionales'].controls; let i = index" >
            
                                <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-10': i!==0}">
                                    <!-- <label for="param">Requerimiento funcional</label> -->
                                    <input type="text" class="form-control" placeholder="Requerimiento funcional" [formControlName]="i">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i!==0">
                                    <!-- <label>&nbsp;</label> -->
                                    <input (click)="eliminarRF(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
            
                        </div>
            
            
                        <div class="form-group col-md-3 offset-md-9">
                            <label>&nbsp;</label>
                            <button type="button" (click)="agregarRF()" class="btn btn-success form-control">+</button>
                        </div>

                </div>

                <div class="col-md-6">

                        <p>Req. No Funcionales</p>

                        <div class="row" formArrayName="reqNoFuncionales" *ngFor="let r of _DataJson.formCero.controls['reqNoFuncionales'].controls; let i = index" >
            
                                <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-10': i!==0}">
                                    <!-- <label for="param">Requerimiento funcional</label> -->
                                    <input type="text" class="form-control" placeholder="Requerimiento no funcional" [formControlName]="i">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i!==0">
                                    <!-- <label>&nbsp;</label> -->
                                    <input (click)="eliminarNRF(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
            
                        </div>
            
                        <div class=" col-md-12">
            
                            <div class="row">
            
                                <div class="form-group col-md-3 offset-md-9">
                                    <label>&nbsp;</label>
                                    <button type="button" (click)="agregarNRF()" class="btn btn-success form-control">+</button>
                                </div>
            
                            </div>
                        </div>

                </div>

            </div>

            <div class="form-group">
                <label>Qué aporta el componente</label>
                <textarea class="form-control" rows="4" formControlName="aportacion"></textarea>
            </div>

            <div class="form-group">
                <label >Cuál es la similitud con otros componentess</label>
                <textarea class="form-control" rows="4" formControlName="similitud"></textarea>
            </div>

            <p>Sintaxis</p>

            <div class="row" formArrayName="sintaxis" *ngFor="let autor of _DataJson.formCero.controls['sintaxis'].controls; let i = index">

                <div [formGroupName]="i" class="col-md-12">
                    <hr>
                    <div class="row">

                        <div class="form-group" [ngClass]="{'col-md-6': i===0, 'col-md-5': i!==0}">
                            <label>Parámetro</label>
                            <input type="text" class="form-control" placeholder="Parámetro" formControlName="param">
                        </div>

                        <div class="form-group" [ngClass]="{'col-md-6': i===0, 'col-md-5': i!==0}">
                            <label >Tipo de dato</label>
                            <input type="text" class="form-control" placeholder="Tipo de dato" formControlName="tipoparam">
                        </div>
                        <div class="form-group col-md-2" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <input (click)="eliminarParametro(i)" type="button" class="form-control btn btn-danger" value="-">
                        </div>
                    </div>

                </div>

            </div>

            <div class=" col-md-12">

                <div class="row">

                    <div class="form-group col-md-3 offset-md-9">
                        <label>&nbsp;</label>
                        <button type="button" (click)="agregarParametro()" class="btn btn-success form-control">+</button>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div *ngIf="!_DataJson.formCero.valid" class="alert alert-danger" role="alert">
                        El formulario es incorrecto
                    </div>
                    <div *ngIf="_DataJson.formCero.valid" class="alert alert-success" role="alert">
                        El formulario es valido
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <a (click)="generateDownloadJsonUri()" class="btn" [ngClass]="{'btn-outline-danger': !_DataJson.formCero.valid, 'btn-outline-success': _DataJson.formCero.valid, 'disabled': !_DataJson.formCero.valid}" title="Download JSON" [href]="downloadJsonHref" download="download.json">Generar JSON</a>
                </div>
                <a (click)="_DataJson.generarJSON()" class="btn" title="Download JSON" [href]="_DataJson.downloadJsonHref" download="download.json">Generar JSON SRC</a> -->
            </div>


        </form>
    </div>

    <div class="col-md-4 ">
        <pre class="sticky-top ">

            {{_DataJson.formCero.value|json}}
                      
        </pre>
    </div>

    <!-- -------------- Madurez nivel 0  --------------
    clave del componente
    nombre del componente
    tipo UI/OS
    DATOS AUTOR
    |- nombre
    |- correo 
    |- alias-gitlab
    clasificacion derivada de las ramas de ACM (versión 2012)
    descripcion del problema
    requerimientos funcionales
    requerimientos no funcionales
    que esta aportando el componente
    descripcion de los compontenes mas parecidos
    sintaxis
    fecha que inicia el componente -->
</div>