<div class="main-container row">

    <div class="col-md-12">

        <h3 class="genwik-font">Nivel de madurez 0 <small class="text-success"><i data-toggle="modal" data-target="#NivelCero" class="fas fa-info-circle"></i></small></h3>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="NivelCero" tabindex="-1" role="dialog" aria-labelledby="NivelCeroLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title genwik-font" id="NivelCeroLabel">Nivel de madurez 0</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nivel</th>
                            <th scope="col">Idea</th>
                            <th scope="col">Código</th>
                            <th scope="col">Exposición</th>
                          </tr>
                        </thead>
                        <tbody>
                                <tr>
                                <td>
                                  0
                                </td>
                                <td>
                                  ¿Tienes definidos los <b>parámetros de entrada y salida</b>  (requerimientos funcionales) en un diagrama de caja negra?
                                </td>
                                <td>
                                  ¿Se tiene la <b>sintaxis de entrada y salida</b> ?
                                </td>
                                <td>
                                    ¿Se ha <b>definido el tipo de dato</b> para la entrada y salida del componente?
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <form [formGroup]="_DataJson.formCero">

            <div class="row">
                <div class="form-group col-md-6">
                    <label >Clave Componente 
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="La clave del componente debe ser única y de acuerdo al lo establecido en el formato XXX" >
                        </i>
                    </label>
                    <input type="text" class="form-control" placeholder="Clave Componente" formControlName="claveComponente">
                </div>

                <div class="form-group col-md-6">
                    <label >Nombre Componente
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="Nombre Componente" 
                        data-content="El nombre del componente debe iniciar con la primer letra de cada palabra en maysucula">
                        </i>
                    </label>
                    <input type="text" class="form-control" placeholder="Nombre Componente" formControlName="nombreComponente">
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">

                    <p>Tipo de componente 
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="El tipo del componente es orientado al servicio su salida será utilizado como entrada de otro
                        componente, el tipo interfaz grafica ofrece una salida final, es decir, una salida interpretable por el usuario.">
                        </i>
                    </p>

                    <div class="form-group">
                        <select class="custom-select" formControlName="tipo">
                                  <option selected disabled>Seleccione una opción</option>
                                  <option value="Interfaz grafica">Interfaz grafica</option>
                                  <option value="Orientado al servicio">Orientado al servicio</option>
                              </select>
                    </div>

                </div>

                <div class="col-md-6">
                    <p>Clasificación de ACM (Versión 2012)
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="Clasificación de ACM (Versión 2012)" 
                        data-content="Esto es beneficioso para usted porque la categorización precisa proporciona al lector una referencia de contenido rápida, 
                        lo que facilita la búsqueda de publicaciones relacionadas, así como las búsquedas de su trabajo en la Biblioteca digital de ACM y en otros recursos en línea. ">
                        </i>
                    </p>

                    <div class="form-group">
                        <select class="custom-select" formControlName="clasACM">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="General and reference">General and reference</option>
                            <option value="Hardware">Hardware</option>
                            <option value="Computer systems organization">Computer systems organization</option>
                            <option value="Networks">Networks</option>
                            <option value="Software and its engineering">Software and its engineering</option>
                            <option value="Theory of computation">Theory of computation</option>
                            <option value="Mathematics of computing">Mathematics of computing</option>
                            <option value="Information systems">Information systems</option>
                            <option value="Security and privacity">Security and privacity</option>
                            <option value="Human-centered computing">Human-centered computing</option>
                            <option value="Computing methodologies">Computing methodologies</option>
                            <option value="Applied computing">Applied computing</option>
                            <option value="Social and professional topics">Social and professional topics</option>
                        </select>
                    </div>
                </div>

            </div>

            <p>Datos del autor</p>

            <div class="row" formArrayName="autores" 
                 *ngFor="let autor of getControlsFromAutores(); let i = index">

                <div [formGroupName]="i" class="col-md-12">
                    <hr>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label>Nombre del autor
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="El nombre del autor debe iniciar con la primer letra de cada palabra en mayúscula">
                                </i>
                            </label>
                            <input type="text" class="form-control" name="nombreAutor" placeholder="Nombre Autor" formControlName="nombreAutor">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Correo del autor
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Es importante complir con el siguiente patron example@dominio.com (.com.mx, .mx y cualquier otra extensións">
                                </i>
                            </label>
                            <input type="text" class="form-control" placeholder="Correo del autor" formControlName="correoAutor">
                        </div>

                        <div class="form-group" [ngClass]="{'col-md-4': i===0, 'col-md-3': i!==0}">
                            <label>Alias en GitLab
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Debe ser exactamente el mismo nombre, respetando mayúsculas y minúsculas">
                                </i>
                            </label>
                            <input type="text" class="form-control" placeholder="Alias en gitlab" formControlName="aliasGitlab">
                        </div>
                        <div class="form-group col-md-1" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <input (click)="eliminarAutor(i)" type="button" class="form-control btn btn-danger" value="-">
                        </div>
                    </div>

                </div>

            </div>

            <div class=" col-md-12">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label>&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarAutor()" class="btn btn-success form-control">+</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label>Descripción del problema
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="La descripción del problema deberá ser mayor a 140 caracteres">
                        </i>                    
                </label>
                <textarea class="form-control" rows="4" formControlName="descProblema"></textarea>
            </div>

            <p>Requerimientos del sistema</p>

            <div class="row">

                <div class="col-md-6">

                        <p>Req. Funcionales
                            <i class="far fa-question-circle" 
                            data-toggle="popover" 
                            title="Req. Funcionales">
                            </i>        
                        </p>

                        <div class="row" formArrayName="reqFuncionales" *ngFor="let r of getControlsFromRF(); let i = index" >
            
                                <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-10': i!==0}">
                                    <!-- <label for="param">Requerimiento funcional</label> -->
                                    <input type="text" class="form-control" placeholder="Requerimiento funcional" [formControlName]="i">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i!==0">
                                    <!-- <label>&nbsp;</label> -->
                                    <input (click)="eliminarRF(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
            
                        </div>
            
            
                        <div class="form-group col-md-3 offset-md-9">
                            <label>&nbsp;</label>
                            <div class="float-right">
                                <button type="button" (click)="agregarRF()" class="btn btn-success form-control">+</button>
                            </div>
                        </div>

                </div>

                <div class="col-md-6">

                        <p>Req. No Funcionales
                            <i class="far fa-question-circle" 
                            data-toggle="popover" 
                            title="Req. No Funcionales">
                            </i>    
                        </p>

                        <div class="row" formArrayName="reqNoFuncionales" *ngFor="let r of getControlsFromRNF(); let i = index" >
            
                                <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-10': i!==0}">
                                    <!-- <label for="param">Requerimiento funcional</label> -->
                                    <input type="text" class="form-control" placeholder="Requerimiento no funcional" [formControlName]="i">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i!==0">
                                    <!-- <label>&nbsp;</label> -->
                                    <input (click)="eliminarNRF(i)" type="button" class="form-control btn btn-danger" value="-">
                                </div>
            
                        </div>
            
                        <div class=" col-md-12">
            
                            <div class="row">
            
                                <div class="form-group col-md-3 offset-md-9">
                                    <label>&nbsp;</label>
                                    <div class="float-right">
                                        <button type="button" (click)="agregarNRF()" class="btn btn-success form-control">+</button>
                                    </div>
                                </div>
            
                            </div>
                        </div>

                </div>

            </div>

            <div class="form-group">
                <label>¿Qué aporta el componente?
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="Deberá ser mayor a 140 caracteres">
                        </i> 
                </label>
                <textarea class="form-control" rows="4" formControlName="aportacion"></textarea>
            </div>

            <div class="form-group">
                <label>¿Cuál es la similitud con otros componentes?
                        <i class="far fa-question-circle" 
                        data-toggle="popover" 
                        title="Deberá ser mayor a 140 caracteresDeberá ser mayor a 140 caracteres" >
                        </i>                     
                </label>
                <textarea class="form-control" rows="4" formControlName="similitud"></textarea>
            </div>

            <p>Sintaxis</p>

            <div class="row" formArrayName="sintaxis" *ngFor="let autor of getControlsFromSintaxis(); let i = index">

                <div [formGroupName]="i" class="col-md-12">
                    <hr>
                    <div class="row">

                        <div class="form-group" [ngClass]="{'col-md-6': i===0, 'col-md-5': i!==0}">
                            <label>Nombre del parámetro
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="El nombre del parametro debera ser todo en mayúsculas, sin espacios y con una longitud maxima de 4 caracteres">
                                </i>  
                            </label>
                            <input type="text" class="form-control" placeholder="Parámetro" formControlName="param">
                        </div>

                        <div class="form-group" [ngClass]="{'col-md-6': i===0, 'col-md-5': i!==0}">
                            <label >Tipo de dato
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="El tipo de dato será indexado al parámetro establecido">
                                </i>  
                            </label>
                            <select class="custom-select" formControlName="tipoparam">
                                <option value="int">Entero</option>
                                <option value="int">Cadena</option>
                                <option value="float">Flotante</option>
                                <option value="double">Double</option>
                                <option value="boolean">Booleano</option>
                                <option value="date">Fecha</option>
                                <option value="rout">Ruta</option>
                                <option value="rout_bin">Ruta a binario</option>
                                
                            </select>
                        </div>

                        <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label >Descripción de la corrida</label>
                            <textarea class="form-control" rows="2" formControlName="descripcion"></textarea>
                        </div>

                        <div class="form-group col-md-1" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <input (click)="eliminarParametro(i)" type="button" class="form-control btn btn-danger" value="-">
                        </div>
                    </div>

                </div>

            </div>

            <div class=" col-md-12">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label>&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarParametro()" class="btn btn-success form-control">+</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="!_DataJson.formCero.valid" class="alert alert-danger" role="alert">
                        El formulario es incorrecto
                    </div>
                    <div *ngIf="_DataJson.formCero.valid" class="alert alert-success" role="alert">
                        El formulario es valido
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <a (click)="generateDownloadJsonUri()" class="btn" [ngClass]="{'btn-outline-danger': !_DataJson.formCero.valid, 'btn-outline-success': _DataJson.formCero.valid, 'disabled': !_DataJson.formCero.valid}" title="Download JSON" [href]="downloadJsonHref" download="download.json">Generar JSON</a>
                </div>
                <a (click)="_DataJson.generarJSON()" class="btn" title="Download JSON" [href]="_DataJson.downloadJsonHref" download="download.json">Generar JSON SRC</a> -->
            </div>


        </form>
    </div>

    <div class="col-md-4 bg-light">
        <br>
        <p class="text-center">Vista previa</p>
        <hr>
        <pre class="sticky-top ">

            {{_DataJson.formCero.value|json}}
                      
        </pre>
    </div>

    <!-- -------------- Madurez nivel 0  --------------
    clave del componente
    nombre del componente
    tipo UI/OS
    DATOS AUTOR
    |- nombre
    |- correo 
    |- alias-gitlab
    clasificacion derivada de las ramas de ACM (versión 2012)
    descripcion del problema
    requerimientos funcionales
    requerimientos no funcionales
    que esta aportando el componente
    descripcion de los compontenes mas parecidos
    sintaxis
    fecha que inicia el componente -->
</div>
