<!-- <app-guia></app-guia> -->


<div class="main-container container">
        <!-- <app-formulario></app-formulario> -->

    <div *ngIf="!_DataJson.init && !_DataJson.load && !_DataJson.guia">
        <h1 class="text-center genwik genwik-title">GenWik <h6>v1.0</h6></h1>
        <h3 class="text-center">Herramienta para generar Carnet y Wiki de tus componentes.</h3>

        <div class="row justify-content-md-center col-new">
            <div class="col-md-12 text-center">
                <button (click)="_DataJson.init=!_DataJson.init" [routerLink]="['nivelCero']" 
                        type="button"
                        class="btn btn-outline-dark btn-lg col-md-2"
                        title="Tooltip on top">Generar</button>

                    &nbsp;

                <button (click)="_DataJson.load=!_DataJson.load" [routerLink]="['nivelCero']" 
                        type="button" 
                        class="btn btn-outline-dark btn-lg col-md-2"> Editar </button>

                <hr>

                <button (click)="_DataJson.guia=!_DataJson.guia"
                        [routerLink]="['guia']" 
                        type="button" 
                        class="btn  btn-lg col-md-12"> Ver guía <i class="fas fa-book"></i> </button>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <hr>
        </div>

    </div>

    <div *ngIf="_DataJson.init">
        <app-formulario></app-formulario>
    </div>

    <div *ngIf="_DataJson.load">
        <app-load-json></app-load-json>  
    </div>

    <div *ngIf="_DataJson.guia">
            <app-guia></app-guia>  
    </div>

</div>