<div class="main-container row">

    <div class="col-md-12">

        <h3 class="genwik-font">Nivel de madurez 1 <small class="text-success"><i data-toggle="modal" data-target="#NivelUno" class="fas fa-info-circle"></i></small></h3>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="NivelUno" tabindex="-1" role="dialog" aria-labelledby="NivelUnoLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title genwik-font" id="NivelUnoLabel">Nivel de madurez 1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nivel</th>
                            <th scope="col">Idea</th>
                            <th scope="col">Código</th>
                            <th scope="col">Exposición</th>
                          </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>
                                  1
                                </td>
                                  <td>
                                    ¿Tienes ya la <b>solución en algoritmo o diagrama</b> (de preferencia basado en un libro, artículo, página, repositorio)?
                                  </td>
                                  <td>
                                    ¿Se tiene una <b>relación algoritmo-comentarios-código</b>?
                                  </td>
                                  <td>
                                      ¿Dada cualquier entrada <b>se produce una salida</b>?
                                  </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

    </div>

  <div class="col-md-8">
      <form [formGroup]="_DataJson.formUno">

          <div class="form-group">
              <label for="aportacion">Algoritmo
                    <i class="far fa-question-circle" 
                    data-toggle="popover" 
                    title="Escribir el algoritmo o un enlace de la imagen">
                    </i>   
              </label>
              <textarea class="form-control" id="descSolucion" rows="5" formControlName="descSolucion"></textarea>
          </div>

        <p>Ejemplos                     
            <i class="far fa-question-circle" 
            data-toggle="popover" 
            title="Describe un ejemplo de aplicación">
            </i>   
        </p>
          <hr>

          <div class="row" formArrayName="ejemplos" *ngFor="let r of getControlsFromEjemplos(); let i = index" >
                  <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-10': i!==0}">
                    <label for="aportacion">&nbsp;</label>
                    <textarea class="form-control" id="ejemplos" rows="5" [formControlName]="i"></textarea>
                  </div>

                  <div class="form-group col-md-2" *ngIf="i!==0">
                      <label>&nbsp;</label>
                      <input (click)="eliminarEjemplo(i)" type="button" class="form-control btn btn-danger" value="-">
                  </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-3 offset-md-9">
                      <label for="">&nbsp;</label>
                      <div class="float-right">
                        <button type="button" (click)="agregarEjemplo()" class="btn btn-success form-control">+</button>
                      </div>
                      
                  </div>

              </div>
          </div>


          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formUno.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formUno.valid" class="alert alert-success" role="alert">
                      El formulario es válido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-light">
        <br>
        <p class="text-center">Vista previa</p>
        <hr>
      <pre class="sticky-top ">

          {{_DataJson.formUno.value|json}}
                    
      </pre>
  </div>

  <!-- -------------- Madurez nivel 1  --------------
    Descripcion de la solucion
    algoritmo
    ejemplos
    ejecucion pendiente()
   -->
</div>