<div class="main-container row">

    <div class="col-md-12">

        <h3 class="genwik-font">Nivel de madurez 2 <small class="text-success"><i data-toggle="modal" data-target="#NivelDos" class="fas fa-info-circle"></i></small></h3>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="NivelDos" tabindex="-1" role="dialog" aria-labelledby="NivelDosLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title genwik-font" id="NivelDosLabel">Nivel de madurez 2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nivel</th>
                            <th scope="col">Idea</th>
                            <th scope="col">Código</th>
                            <th scope="col">Exposición</th>
                          </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>
                                  2
                                </td>
                                  <td>
                                    ¿Están definidas las <b>pruebas unitarias a nivel de idea</b>, juguete, promedio y complejas?
                                  </td>
                                  <td>
                                    <b>¿Hay estructuras que soportan las pruebas unitarias</b>, juguete, promedio <b>y complejas</b>?
                                  </td>
                                  <td>
                                    ¿<b>Pasaste todas las pruebas unitarias</b>?  
                                  </td>
                                </tr>                       
                              <tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

    </div>
    
  <div class="col-md-8">
      <form [formGroup]="_DataJson.formDos">

          <p>Corrida de juguete</p>

          <div class="row" formArrayName="ejemJuguete" *ngFor="let ejemplo of getControlsFromEjemJuguete(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label>Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="entrada"></textarea>
                      </div>

                      <div class="form-group col-md-6">
                          <label >Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="salida"></textarea>
                      </div>

                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                          <label >Descripción de la corrida</label>
                          <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                      </div>

                      <div class="form-group col-md-1" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <div class="float-right">
                                <input (click)="eliminarEjmJuguete(i)" type="button" class="form-control btn btn-danger" value="-">
                            </div>
                    </div>

                      <!-- <div class="form-group col-md-12" *ngIf="i!==0">
                          <label>&nbsp;</label>
                          <input (click)="eliminarEjmJuguete(i)" type="button" class="form-control btn btn-danger" value="-">
                      </div> -->
                  </div>

              </div>

          </div>

          <div class="col-md-12">

              <div class="row  m30">

                  <div class="form-group col-md-3 offset-md-9 ">
                      <label for="">&nbsp;</label>
                      <div class="float-right">
                        <button type="button" (click)="agregarEjmJuguete()" class="btn btn-success form-control">+</button>
                      </div>
                  </div>

              </div>
          </div>

          <p>Corrida de Promedio</p>

          <div class="row" formArrayName="ejemPromedio" *ngFor="let ejemplo of getControlsFromEjemPromedio(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label>Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="entrada"></textarea>
                      </div>

                      <div class="form-group col-md-6">
                          <label >Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="salida"></textarea>
                      </div>


                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label>Descripción de la corrida</label>
                          <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                        </div>
  
                        <div class="form-group col-md-1" *ngIf="i!==0">
                              <label>&nbsp;</label>
                              <div class="float-right">
                                <input (click)="eliminarEjmPromedio(i)" type="button" class="form-control btn btn-danger" value="-">
                              </div>
                      </div>

                  </div>

              </div>

          </div>


          <div class=" col-md-12 m30">

                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarEjmPromedio()" class="btn btn-success form-control">+</button>
                        </div>
                    </div>
            </div>

          <p>Corrida de Complejo</p>

          <div class="row" formArrayName="ejemComplejo" *ngFor="let ejemplo of getControlsFromEjemComplejo(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-6">
                          <label >Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="entrada"></textarea>
                      </div>

                      <div class="form-group col-md-6">
                          <label>Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <textarea class="form-control" formControlName="salida"></textarea>
                      </div>

                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label>Descripción de la corrida</label>
                            <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                        </div>
  
                        <div class="form-group col-md-1" *ngIf="i!==0">
                              <label>&nbsp;</label>
                              <div class="float-right">
                                <input (click)="eliminarEjmComplejo(i)" type="button" class="form-control btn btn-danger" value="-">
                              </div>
                      </div>

                  </div>

              </div>

          </div>

          <div class=" col-md-12 m30">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label>&nbsp;</label>
                      <div class="float-right">
                        <button type="button" (click)="agregarEjmComplejo()" class="btn btn-success form-control">+</button>
                      </div>                      
                      
                  </div>

              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formDos.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formDos.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-light">
        <br>
        <p class="text-center">Vista previa</p>
        <hr>
      <pre class="sticky-top ">

          {{_DataJson.formDos.value|json}}
                    
      </pre>
  </div>

  <!-- -------------- Madurez nivel 2  --------------
    Descripcion corrida
    entrada
    salida
   -->
</div>