<div class="main-container row">
  <div class="col-md-8">
      <form [formGroup]="_DataJson.formDos">

          <p>Corrida de juguete</p>

          <div class="row" formArrayName="ejemJuguete" *ngFor="let ejemplo of getControlsFromEjemJuguete(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-8">
                          <label>Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <input type="text" class="form-control" placeholder="Valor de entrada" formControlName="entrada">
                      </div>

                      <div class="form-group col-md-4">
                          <label >Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <input type="text" class="form-control"placeholder="Salida" formControlName="salida">
                      </div>

                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                          <label >Descripción de la corrida</label>
                          <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                      </div>

                      <div class="form-group col-md-1" *ngIf="i!==0">
                            <label>&nbsp;</label>
                            <div class="float-right">
                                <input (click)="eliminarEjmJuguete(i)" type="button" class="form-control btn btn-danger" value="-">
                            </div>
                    </div>

                      <!-- <div class="form-group col-md-12" *ngIf="i!==0">
                          <label>&nbsp;</label>
                          <input (click)="eliminarEjmJuguete(i)" type="button" class="form-control btn btn-danger" value="-">
                      </div> -->
                  </div>

              </div>

          </div>

          <div class="col-md-12">

              <div class="row  m30">

                  <div class="form-group col-md-3 offset-md-9 ">
                      <label for="">&nbsp;</label>
                      <div class="float-right">
                        <button type="button" (click)="agregarEjmJuguete()" class="btn btn-success form-control">+</button>
                      </div>
                  </div>

              </div>
          </div>

          <p>Corrida de Promedio</p>

          <div class="row" formArrayName="ejemPromedio" *ngFor="let ejemplo of getControlsFromEjemPromedio(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-8">
                          <label>Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <input type="text" class="form-control" placeholder="Valor de entrada" formControlName="entrada">
                      </div>

                      <div class="form-group col-md-4">
                          <label >Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <input type="text" class="form-control" placeholder="Salida" formControlName="salida">
                      </div>


                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label>Descripción de la corrida</label>
                          <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                        </div>
  
                        <div class="form-group col-md-1" *ngIf="i!==0">
                              <label>&nbsp;</label>
                              <div class="float-right">
                                <input (click)="eliminarEjmPromedio(i)" type="button" class="form-control btn btn-danger" value="-">
                              </div>
                      </div>

                  </div>

              </div>

          </div>


          <div class=" col-md-12 m30">

                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="float-right">
                            <button type="button" (click)="agregarEjmPromedio()" class="btn btn-success form-control">+</button>
                        </div>
                    </div>
            </div>

          <p>Corrida de Complejo</p>

          <div class="row" formArrayName="ejemComplejo" *ngFor="let ejemplo of getControlsFromEjemComplejo(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">

                      <div class="form-group col-md-8">
                          <label >Entrada
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Ingresar los parametros con su valor (sintaxis) o describir la entrada">
                                </i>  
                          </label>
                          <input type="text" class="form-control" placeholder="Valor de entrada" formControlName="entrada">
                      </div>

                      <div class="form-group col-md-4">
                          <label>Salida
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Describir la salida">
                                </i>  
                          </label>
                          <input type="text" class="form-control" placeholder="Salida" formControlName="salida">
                      </div>

                      <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                            <label>Descripción de la corrida</label>
                            <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                        </div>
  
                        <div class="form-group col-md-1" *ngIf="i!==0">
                              <label>&nbsp;</label>
                              <div class="float-right">
                                <input (click)="eliminarEjmComplejo(i)" type="button" class="form-control btn btn-danger" value="-">
                              </div>
                      </div>

                  </div>

              </div>

          </div>

          <div class=" col-md-12 m30">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label>&nbsp;</label>
                      <div class="float-right">
                        <button type="button" (click)="agregarEjmComplejo()" class="btn btn-success form-control">+</button>
                      </div>                      
                      
                  </div>

              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formDos.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formDos.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-light">
        <br>
        <p class="text-center">Vista previa</p>
        <hr>
      <pre class="sticky-top ">

          {{_DataJson.formDos.value|json}}
                    
      </pre>
  </div>

  <!-- -------------- Madurez nivel 2  --------------
    Descripcion corrida
    entrada
    salida
   -->
</div>