<div class="main-container row">

    <div class="col-md-12">

        <h3 class="genwik-font">Nivel de madurez 3 <small class="text-success"><i data-toggle="modal" data-target="#NivelTres" class="fas fa-info-circle"></i></small></h3>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="NivelTres" tabindex="-1" role="dialog" aria-labelledby="NivelTresLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title genwik-font" id="NivelTresLabel">Nivel de madurez 3</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nivel</th>
                            <th scope="col">Idea</th>
                            <th scope="col">Código</th>
                            <th scope="col">Exposición</th>
                          </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>
                                  3
                                </td>
                                <td>
                                  ¿Tienes descritos los <b>requerimientos NO funcionales</b> y cómo los has mejorado?  (análisis de complejidad)
                                </td>
                                <td>
                                  ¿<b>Se han agregado procesos</b> paralelizables, parámetros de E.S. o estructuras de datos <b>para cumplir los requerimientos no funcionales</b>?
                                </td>
                                <td>
                                  ¿<b>Cumple el rendimiento con los requerimientos no funcionales</b>?
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

    </div>

  <div class="col-md-8">
      <form [formGroup]="_DataJson.formTres">

          <p>Descripción del problema de casos complejos</p>

          <div class="row" formArrayName="descCasoComplejo" *ngFor="let ejemplo of getControlsFromEjemComplejo(); let i = index">

              <div [formGroupName]="i" class="col-md-12">
                  <hr>
                  <div class="row">


                        <div class="form-group" [ngClass]="{'col-md-12': i===0, 'col-md-11': i!==0}">
                          <label for="aportacion">Descripción
                                <i class="far fa-question-circle" 
                                data-toggle="popover" 
                                title="Descripción del problema en casos complejos">
                                </i>
                          </label>
                          <textarea class="form-control" id="ejemplos" rows="5" formControlName="descripcion"></textarea>
                        </div>
  
                        <div class="form-group col-md-1" *ngIf="i!==0">
                              <label>&nbsp;</label>
                              <div class="float-right">
                                    <input (click)="eliminardescCasoComplejo(i)" type="button" class="form-control btn btn-danger" value="-">
                              </div>
                      </div>
                      
                  </div>

              </div>

          </div>

          <div class=" col-md-12">

              <div class="row">

                  <div class="form-group col-md-12 float-right ">
                      <label for="">&nbsp;</label>
                      <div class="float-right">
                            <button type="button" (click)="agregardescCasoComplejo()" class="btn btn-success form-control">+</button>
                        </div>
                      
                  </div>

              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div *ngIf="!_DataJson.formTres.valid" class="alert alert-danger" role="alert">
                      El formulario es incorrecto
                  </div>
                  <div *ngIf="_DataJson.formTres.valid" class="alert alert-success" role="alert">
                      El formulario es valido
                  </div>
              </div>
          </div>


      </form>
  </div>

  <div class="col-md-4 bg-light">
      <pre class="sticky-top ">

          {{_DataJson.formTres.value|json}}
                    
      </pre>
  </div>

  <!-- -------------- Madurez nivel 2  --------------
    Descripcion corrida
    entrada
    salida
   -->
</div>