<nav>
  <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelCero']">Cero</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelUno']">Uno</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelDos']">Dos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelTres']">Tres</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelCuatro']">Cuatro</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelCinco']">Cinco</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelSeis']">Seis</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelSiete']">Siete</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelOcho']">Ocho</a>
      </li>     
  </ul>
</nav>