<nav>
  <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelCero']">
          0
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelUno']">1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelDos']">2</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelTres']">3</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelCuatro']">4</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelCinco']">5</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelSeis']">6</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active"  [routerLink]="['nivelSiete']">7</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['nivelOcho']">8</a>
      </li>  
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['genJson']">Generar Carnet</a>
      </li>   
  </ul>
</nav>