
<div class="row">
    <div class="col-md-6">
        <h3 class="genwik-font">Niveles de madurez</h3>
    </div>
    <div class="col-md-6 ">
        <div class="float-right">
            <h3 class="genwik-font"  (click)="_DataJson.initApp()"><i class="fas fa-home"></i></h3>
        </div>
    </div>
</div>
<hr>
<app-nav></app-nav>
<div class="tab-content" id="nav-tabContent">
    
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <router-outlet></router-outlet>
    </div>
</div>